/***************************************************************************
 *                                                                         *
 * Status Bar specific styles.                                             *
 *                                                                         *
 **************************************************************************/

.anchor-pane {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    -fx-spacing: 0.166667em; /* 2 */
    -fx-base: derive(#d0d0d0,-70.0%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,50.0%), derive(-fx-color,-30.0%)), -fx-body-color;
    -fx-background-insets: 0.0, 1.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0, 0.0 ;
}