.db-project-title {
-fx-font-size: 1.8em;
-fx-cursor: hand;
}

.db-side-menu-phase{
-fx-font-size: 1.2em;
-fx-font-weight: bold;
-fx-padding: 2.5 0 2.5 6;
-fx-border-color: black;
-fx-border-width: 0.5;
-fx-cursor: hand;
-fx-alignment: left;
-fx-background-color: gainsboro;
}

.db-side-menu-subphase{
-fx-font-size: 1.1em;
-fx-padding: 0 0 0 5;
-fx-translate-x: 10;
-fx-max-width: 190;
-fx-border-width: 0.5;
-fx-cursor: hand;
-fx-alignment: left;
-fx-border-color: lightgray;
-fx-background-color: transparent;
}

.db-side-menu{
    -fx-border-color: transparent black transparent transparent;
	
}

.db-item-selected{
-fx-background-color: gray;
}

.db-application-header{
    -fx-border-color: transparent transparent black transparent ;

}

.db-footer-text{
-fx-text-fill: gray;
}
.db-footer{
    -fx-border-color: black transparent  transparent transparent ;
}

.db-application-header-text{
-fx-font-size: 1.8em;
-fx-font-style: oblique;
-fx-font-weight: bold;
}

.db-user-name{
-fx-font-size: 1.2em;
-fx-font-weight: bold;
}