.root{
-fx-font-family:  Neue Helvetica Roman;
-fx-font-smoothing-type: lcd; 
-fx-font-size: 1em;

}
.text { -fx-font-family:  Neue Helvetica Roman;
-fx-font-smoothing-type: lcd; 
} 

.h1 {
-fx-font-size: 20pt;
}
.h3 {
-fx-font-size: 14pt;

}
  