body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:450px;
  top:200px;
  width:380px;
  height:320px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:320px;
}
#u4 {
  position:absolute;
  left:2px;
  top:152px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:555px;
  top:210px;
  width:170px;
  height:170px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u6 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:470px;
  top:410px;
  width:70px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:540px;
  top:400px;
  width:260px;
  height:30px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u10 {
  position:absolute;
  left:10px;
  top:7px;
  width:248px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:470px;
  top:450px;
  width:70px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:540px;
  top:440px;
  width:260px;
  height:30px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u14 {
  position:absolute;
  left:10px;
  top:7px;
  width:248px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:650px;
  top:480px;
  width:150px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
